@import "/src/mediaQueries.scss";

.landingBubble {
    position: relative;
    animation: float 10s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 615px;
        z-index: -1;
    }

    @include lt-lg {
        img {
            width: 500px;
        }
    }

    @include lt-md {
        img {
            width: 425px;
        }
    }

    @include lt-sm {
        margin-top: 10vh;
        margin-left: 0;
        align-self: center;
        line-height: 35px;

        img {
            width: 95%;
        }
    }
}

.landingBubble__text {
    z-index: 10;
    cursor: default !important;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-left: 200px;

    h1 {
        font-size: 45px;
    }

    .landingBubble__text_letters {
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 7px;
    }

    span {
        transition: background-color .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: var(--col-secondary);
        transform: rotate(0deg);

        &:hover {
            background-color: var(--col-primary);
            transition: background-color .1s ease-in-out;
        }
    }

    @include lt-lg {
        h1 {
            font-size: 30px;
        }
        span {
            font-size: 45px;
        }
     }

     @include lt-md {
        padding-left: 150px;
    }

    @include lt-sm {
        padding-left: 30%;
    }
}
