@import "/src/mediaQueries.scss";

.content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    &:first-of-type {
        padding-top: 80px;
    }

    @include lt-lg {
        flex-direction: column;
    }

    @include lt-sm {
        justify-content: flex-start;
        min-height: 90vh;
    }
}
