.content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--col-bg);
}

.content:first-of-type {
    height: calc(100vh - 80px);
    margin-top: 80px;
}
