.FwProjectsPage {
    margin-top: 80px;
    overflow: hidden;
}

.FwProjectsPage_projectContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.FwProjectsPage__projectItem {
    width: calc(99.5vw / 3);
    height: calc(99.5vw / 3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.FwProjectsPage__projectItem:hover {
    z-index: 10;
    transform: scale(105%);
}

.FwProjectsPage__projectItem:active {
    z-index: 5;
    transform: scale(100%);
}

.FwProjectsPage__projectItemText {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.FwProjectsPage__projectItemText h1 {
    font-size: 45px;
 }

.FwProjectsPage__projectItemText p {
    color: white;
    font-size: 16px;
 }

 .FwProjectsPage__projectItemText hr {
    background-color: white;
    border: 1px solid white;
    width: 100%;
 }

 .FwProjectsPage__projectItemImage {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    aspect-ratio: 1;
    width: 40%;
 }

 .FwProjectsPage__projectItemImage img {
     width: 100%;
     height: 100%;
 }

.projectItem--long {
    width: calc(99.5vw / 3 * 2);
}

.projectItem--tall {
    height: calc(99.5vw / 3 * 2);
}

.projectItem--long .FwProjectsPage__projectItemText {
    width: 40%; 
}

.projectItem--tall .FwProjectsPage__projectItemText {
    height: 30%;
    justify-content: flex-start;
}

.projectItem--long .FwProjectsPage__projectItemImage {
    width: 40%;
}

.projectItem--tall .FwProjectsPage__projectItemImage {
    height: 40%;
    width: initial;
}

.FwProjectsPage__projectItemLinks a:link {
    color: white !important;
    text-decoration: underline;
}

.FwProjectsPage__projectItemLinks a:hover {
    color: white !important;
    text-decoration: underline;
}

.FwProjectsPage__projectItemLinks a:active {
    color: white !important;
    text-decoration: underline;
}

.FwProjectsPage__projectItemLinks a:visited {
    color: white !important;
    text-decoration: underline;
}

.FwProjectsPage__projectItem:nth-of-type(1) { grid-area: 1 / 1 / 2 / 3; background-color: var(--col-primary); color: var(--col-secondary);}
.FwProjectsPage__projectItem:nth-of-type(2) { grid-area: 1 / 3 / 3 / 4; background-color: var(--col-secondary); color: var(--col-primary);}
.FwProjectsPage__projectItem:nth-of-type(3) { grid-area: 2 / 1 / 4 / 2; background-color: var(--col-secondary); color: var(--col-primary);}
.FwProjectsPage__projectItem:nth-of-type(4) { grid-area: 2 / 2 / 3 / 3; background-color: var(--col-bg); color: var(--col-secondary);}
.FwProjectsPage__projectItem:nth-of-type(5) { grid-area: 3 / 2 / 4 / 4; background-color: var(--col-primary); color: var(--col-secondary);} 

@media (max-width: 1230px) {
    .FwProjectsPage_projectContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .FwProjectsPage__projectItem {
        width: 100vw;
        height: 600px;
        justify-content: flex-start;
    }

    .FwProjectsPage__projectItemText {
        width: 70% !important;
    }

    .FwProjectsPage__projectItemImage {
        display: none;
    }

    .FwProjectsPage__projectItem:nth-of-type(3) { grid-area: 2 / 1 / 4 / 2; background-color: var(--col-primary); color: var(--col-secondary);}
    .FwProjectsPage__projectItem:nth-of-type(5) { grid-area: 3 / 2 / 4 / 4; background-color: var(--col-secondary); color: var(--col-primary);} 
}