@import "/src/mediaQueries.scss";

.FwProjectsPage {
    margin-top: 80px;
    overflow: hidden;
}

.FwProjectsPage_projectContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 100px;
    justify-content: space-evenly;
    
    @include lt-md {
        padding: 0;
        padding-top: 25px;
    }
}

.FwProjectsPage__projectItem {
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    margin-bottom: 70px;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.active {
        height: auto;
        img {
            height: 400px;
            opacity: 1;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        svg {
            transform: rotate(90deg);
        }
    }

    &:hover {
        transform: scale(105%);

        svg {
            color: var(--col-secondary);
        }
    }

    svg {
        pointer-events: none;
        position: absolute;
        bottom: 30px;
        right: 35px;
        transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @include lt-md {
        width: 300px;
        height: auto;

        &:hover {
            img {
                height: 300px;
            }
        }
    }
}

.FwProjectsPage__projectItemText {
    pointer-events: none;
    text-align: justify;

    h1 {
        color: var(--col-secondary);
    }

    hr {
        color: var(--col-primary);
    }
}


 .FwProjectsPage__projectItemImage {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    img {
        width: 400px;
        height: 0;
        opacity: 0;
        transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .1s linear;
    }

    @include lt-md {
        width: 300px;
    }
 }

.FwProjectsPage__projectItemLinks {
    pointer-events: all;
}
