.FwNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--col-content-bg);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    z-index: 50;
    transition: transform .3s ease-in-out;
}

.FwNavbar--hidden {
    transform: translateY(-80px);
}

.FwNavbar__logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    left:15px;
    border-radius: 50%;
    transition: border-radius .2s ease-in-out, background-color .3s ease-in-out, transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: transparent;
}


.FwNavbar__logo img {
    width: 50px;
}

.FwNavbar__logo:hover {
    background-color: var(--col-bg);
    border-radius: 25%;
}

.FwNavbar__logo:active {
    transform: rotate(45deg);
}

.FwNavbar__links > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    float: left;
}
