.FwSkills {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position:relative;
}

.FwSkills__title {
    width: 500px;
    height: 270px;
    background-image: url("../../assets/bubbleSkillsTitle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 240px;
    animation: float 7s ease-in-out infinite;
}


.FwSkills__title h1 {
    text-align: left;
}

.FwSkills__title span {
    color: var(--col-secondary);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
}


.FwSkills__skills {
    width: 700px;
    height: 570px;
    background-image: url("../../assets/bubbleLanding.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 300px;
    animation: float 17s ease-in-out infinite;
}

.FwSkills__skills .tag-cloud {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.FwSkills__skills .tag-cloud span {
    transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 10px !important;
    animation: colorShift 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.FwSkills__skills .tag-cloud span:hover {
    cursor: default;
    transform: scale(120%);
}


@keyframes colorShift {
    0%, 100% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(130%);
    }
}