@import "/src/mediaQueries.scss";

.FwAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 1000px;
        position: absolute;
    }
    
    @include lt-lg {

        img {
            width: 915px;
        }

        width: 715px;
    }

    @include lt-md {
        img {
            display: none;
        }
        background-color: white;
        width: 100%;
        height: 100vh;
    }

    @include lt-sm {
        margin: 100px 0 100px 0;
    }   
}

.FwAboutMe__text {
    z-index: 1;
    width: 700px;
    text-align: justify;

    h1 {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: var(--col-secondary);
    }

    p {
        margin-bottom: 20px;
    }

    .FwButton {
        float: right;
        top: 60px;
        right: 165px;
    }

    @include lt-lg {
        width: 80%;
        padding: 0px 20px 40px 20px; 
        
        h1 {
            line-height: 30px;
        }

        p {
            padding: 5px;
            margin-bottom: 50px;
        }

        .FwButton {
            top: auto;
            right: auto;
            float: none;
        }
    }

}
