.FwAboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: float 10s ease-in-out infinite;
}

.FwAboutMe img {
    width: 1000px;
    position: absolute;
}

.FwAboutMe__text {
    z-index: 1;
    width: 700px;
    text-align: justify;
}

.FwAboutMe__text h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--col-secondary)
}

.FwAboutMe__text p {
    margin-bottom: 20px;
}

.FwAboutMe__text .FwButton {
    float: right;
    top: 60px;
    right: 165px;
}
