:root {
  --col-primary: #35328C;
  --col-secondary: #F24968;
  --col-text: #fff;
  --col-content-bg: #fff;
  --col-bg: #222069;
  --col-bg-link-active: #03A6A6;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #f24968 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f24968;
    border-radius: 10px;
    border: 0px none #ffffff;
  }

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-bg);
  scroll-behavior: smooth;
  overflow-x: clip;
}

.wrapper {
  pointer-events: none;
}

.content > div {
  pointer-events: all;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

a:link, a:visited {
  color: var(--col-primary);
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  color: var(--col-secondary);
  text-decoration: underline;
}